.Profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Profile_outter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilePage_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 50px;
    object-fit: cover;
}

.second_container {
    font-size: 18px;
    width: 500px;
}

.First {
    margin-bottom: 5px;
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
}

.Last {
    margin-bottom: 5px;
    /* font-family: cursive; */
    font-weight: bold;
}

.Gender {
    margin-bottom: 5px;
    /* font-family: cursive; */
    font-weight: bold;


}

.Bio {
    font-family: cursive;
    font-weight: bold;
}

.Bio1 {
    word-break: break-all;
    font-family: cursive;
    font-weight: bold;
    overflow-y: auto;
    max-height: 100px;
}

.word_container {
    display: flex;
    gap: 1rem;

}

.line1 {
    width: 1000px;
    margin-bottom: 10px;

}

.fa-utensils {
    margin-right: 5px;
    color: gray
}

.business {
    color: gray;
    font-size: 20px;
    margin-bottom: 15px;
}

.business_img_in_profile_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 1250px;
}

.business_img_in_profile {
    width: 300px;
    height: 300px;
    object-fit: cover;

}

.no_business {
    font-size: 20px;
    margin: 10px;
}

.profile_create_business {
    margin-left: 10px;
    /* font-family: cursive; */
    font-size: 20px;
    font-weight: bold;
    /* color: rgb(6, 174, 252); */
    border: thin solid lightgray;
    background-color: lightcyan;
    padding: 5px;
    border-radius: 5px;
}

.profile_create_business:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Edit_profile {
    /* margin-bottom: 100px; */
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: thin solid grey;
    padding: 5px;
    font-size: 15px;

    background-color: #f51600;
    color: #fff;
    border: none;


    /* background-color: lightcyan; */
    /* color: red; */
}


.Edit_profile:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



/* EditProfileForm */

.edit_profile_container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6rem;
   margin-top: 200px;
}

.profilePreview{
    width: 300px;

}

.profilePreviewName{
    word-break: break-all;
    font-weight: bold;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 20px;

}

.profilePreviewBio{
    word-break: break-all;
}


.profilePicEdit{
  width:300px;
  height: 300px;
  border-radius: 50%;
}

.edit_input_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid lightgray;
    padding: 50px;
    border-radius: 20px;
    font-size: 20px
}

.firstName{
    margin-right: 65px;
}

.lastName{
    margin-right: 67px;
}

.edit_Gender{
    margin-right: 102px;
}

.edit_Bio{
    margin-right: 146px;
}

.edit_Profile_Image{
    margin-right: 42px;

}

.edit_title{
    text-align: center;
    font-size: 30px;
    color: red;
    /* color: rgb(0, 157, 255); */
}

.edit_input{
    border-radius: 8px;
    width: 250px;
    text-overflow: ellipsis;
    height: 28px;
    font-size: 16px;
    /* background-color: rgb(253, 253, 227); */
}

.editProfileButton {
    display: flex;
    justify-content: center;
  }


.editProfileButton>button {
    border-radius: 5px;
    /* font-family:cursive; */
    width: 100px;
    background-color: #f51600;
    border:1px solid rgb(216, 203, 203);
    margin: 10px;
    width: 130px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }

  .editProfileButton > button:hover{
    cursor: pointer;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .editProfileButton > button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .pen{
    margin-top: 3px;
    margin-right: 3px;
  }

  #edit-profile-greeting {
    color: rgb(220, 85, 85);
  }
