
.bz-details-main-container {
    /* border: 1px solid violet; */
    margin-top: 20px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
}


.details-bz-div {
    position: relative;
    color: white;
}


.img-details {
    /* border: 1px solid red; */
    width: 100%;
    height: 500px;
    object-fit: cover;

    display: flex;
    flex-direction: row;
}


.details-bottom-left {
    position: absolute;
    bottom: 100px;
    left: 356px;
}

.details-name-top {
    font-size: 46px;
    font-weight: 600;

}




.main-div-details-rev {
    border: 1px solid green;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;

}

.left-bz-details {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    /* margin-right: 150px; */

}


.right-bz-details {
    display: flex;
    flex-direction: column;
     border: 1px solid blue;
}




/* testing the bar for ratings */

.rating-reviews {
    width: 350px;
}

.rate-bar-container {
    border: 1px solid rebeccapurple;
    border-radius: 10px;
}

.background-rate-color {
    background-color: #f0f0f0;
    height: 10px;
    max-width: 350px;
    border-radius: 10px;
}


.rate-bar {

}
