
.bz-details-main-container {
    border: 1px solid blue;
}


.details-bz-div {
    position: relative;
    color: white;
}


.img-details {
    /* border: 1px solid red; */
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.details-bottom-left {
    position: absolute;
    bottom: 100px;
    left: 356px;
}

.details-name-top {
    font-size: 46px;
    font-weight: 600;

}


/* testing the bar for ratings */

.rating-reviews {
    width: 500px;
}

.rate-bar-container {
    border: 1px solid rebeccapurple;
    border-radius: 10px;
}

.background-rate-color {
    background-color: #f0f0f0;
    height: 10px;
    max-width: 350px;
}
