.bz-details-main-container {
    /* border: 1px solid violet; */
    /* margin-top: 10px; */
    min-height: 800px;
    display: flex;
    flex-direction: column;
}


.details-bz-div {
    position: relative;
    color: white;
}


.img-details {
    /* border: 1px solid red; */
    width: 100%;
    height: 450px;
    object-fit: cover;

    display: flex;
    flex-direction: row;

}


.details-bottom-left {
    position: absolute;
    bottom: 80px;
    left: 356px;
}

.details-name-top {
    font-size: 46px;
    font-weight: 600;

}




.main-div-details-rev {
    /* border: 1px solid green; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    gap: 15px;

}

.left-bz-details {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* margin-right: 150px; */
    min-width: 500px;
    max-width: 600px;

}



/* testing 1 for right side of business */
/* .right-bz-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;


    max-height: 150px;
    border: 1px solid black;

} */


/* .phone-bz-details {
    border-bottom: 1px solid gray;
    border-bottom-width: 50%;

    padding-left: 10px;



} */


/* .address-bz-details {
    padding-left: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
} */



/* testing two */

.bz-detail-right {
    /* width: 33.3333333%; */
    box-sizing: border-box;
    padding-left: 16px;
    width: 400px;
}


.bz-detail-right-div {
    border: 1px solid #ebebeb;
    padding: 16px;
    border-radius: 4px;
}


.bz-detail-right-website {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    overflow: hidden;
    text-decoration: none;
}

.bz-detail-phone {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 10px;
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
}

.bz-detail-right-div-direction {
    padding-top: 16px;
    border-top: 1px solid #ebebeb;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.bz-detail-direction-address {
    line-height: 24px;
    font-weight: 600;
}

.bz-detail-direction-two{
    line-height: 24px;
}

.bz-detail-direction {
    display: flex;
    align-items: center;
    padding-right: 10px;
}




/* testing the bar for ratings */

/* .rating-reviews {
    width: 350px;
}

.rate-bar-container {
    border: 1px solid rebeccapurple;
    border-radius: 10px;
}

.background-rate-color {
    background-color: #f0f0f0;
    height: 10px;
    max-width: 350px;
    border-radius: 10px;
} */
