

.bz-form-container-main {
    border: 1px solid red;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    /* height: 100vh; */
    width: 100vw;
}


.bz-left-form {

    /* margin-right: 150px;
    height: 300px;
    width: 300px; */



    flex: 1;
    padding: 1rem;

}

.bz-form-div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 400px;
    margin-left: 400px;

}


.bz-right-form {
    border: 1px solid violet;
    flex: 1;
    padding: 1rem;
    /* margin-top: -225px; */
}

.bz-input-form {
    width: 98%;
    height: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid black;
}


.button-style {
    cursor: pointer;
    /* background-color: rgb(227, 28, 95); */
    background-color: #f51600;
    color: #fff;
    font-weight: 520;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    border: none;
    font-size: 18px;
}






.ul-error-bz-form {
    margin-left: -35px;
 /* border: 1px solid red; */
}

.li-bz-form-errors {
    list-style: circle;
    color: red;
}

.h2-bz-form {
    color: red;
    text-align: center;
}
